In [15]:
import statsmodels.api as sm
import numpy as np
import pandas as pd

In [17]:
import statsmodels.tsa.api as VAR

In [9]:
tsa.vector_ar
df = sm.datasets.get_rdataset("Guerry", "HistData").data

In [10]:
vars = ['Department','Lottery','Literacy','Wealth','Region']
df = df[vars]

In [12]:
df[-5:]

      Department  Lottery  Literacy  Wealth Region
81        Vienne       40        25      68      W
82  Haute-Vienne       55        13      67      C
83        Vosges       14        62      82      E
84         Yonne       51        47      30      C
85         Corse       83        49      37    NaN

In [13]:
df  = df.dropna()

In [14]:
df[-5:]

      Department  Lottery  Literacy  Wealth Region
80        Vendee       68        28      56      W
81        Vienne       40        25      68      W
82  Haute-Vienne       55        13      67      C
83        Vosges       14        62      82      E
84         Yonne       51        47      30      C